.popupTitle {
  text-align: center;
  font-size: 14px;
  color: #e65100;
  padding: 1%;
}

.markerCardContainer {
  display: flex;
  min-width: 100px;
  font-size: 14px;
  justify-content: left;
}

.mapCardContainer {
  width: 65px;
}

.mapCardContainer h2 {
  font-size: 14px;
  text-align: center;
}
