.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listContainer p {
  color: #e65100;
}

.listContainer ul {
  width: 83%;
  margin-top: 2%;
  border-radius: 10px;
}

.listContainer li {
  padding: 0;
}

.searchContainer {
  display: inline-block;
  margin-left: 8.5%;
}
